{% extends "Base.html" %} 

{% block title %}HomeSearch - Home Page{% endblock %}

 {% block content %}
 

<div class="Jumbotron" action="#">
    <h1 class="display-4">Welcome to the House Locator! </h1>
    <p class="lead">Find your new home today</p>
    <hr class="my-4">
    <p>Tell us what is important to you so that we can find your ideal home.</p>
    <p align="center"><a href=find-my-home ><button class="btn btn-success" style="height:100px;width:200px">Go Now!</button></a></p>
</div>

 
        


 {% endblock %}
