{% extends "Base.html" %} 

{% block title %}HomeSearch - Find My New Home{% endblock %}

 {% block content %}
 <h1>Find your ideal home</h1>
 
   <script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDSTXlZ5OTi4xN3Ik83SccwurJzSVYtBrQ&libraries=places" type="text/javascript"></script>

   <script type="text/javascript">
        function initialize() {
            
            var input = document.getElementById('searchTextField1');
            var input2 = document.getElementById('searchTextField2');
            var autocomplete = new google.maps.places.Autocomplete(input);
            var autocomplete2 = new google.maps.places.Autocomplete(input2);
            google.maps.event.addListener(autocomplete, 'place_changed', function () {
                var place = autocomplete.getPlace();
                document.getElementById('place1').value = place.name;
                document.getElementById('placeLat1').value = place.geometry.location.lat();
                document.getElementById('placeLng1').value = place.geometry.location.lng();
                if (place.geometry.location.lat() > 53.326870 && place.geometry.location.lat() < 53.68592 && 
                place.geometry.location.lng() > -2.7303513 && place.geometry.location.lng()< -1.9078302) {
                } else {
                alert(" That Place won't work!")};

                
            });
            google.maps.event.addListener(autocomplete2, 'place_changed', function () {
                var place2 = autocomplete2.getPlace();
                document.getElementById('place2').value = place2.name;
                document.getElementById('placeLat2').value = place2.geometry.location.lat();
                document.getElementById('placeLng2').value = place2.geometry.location.lng();
                if (place2.geometry.location.lat() > 53.326870 && place2.geometry.location.lat() < 53.68592 && 
                place2.geometry.location.lng() > -2.7303513 && place2.geometry.location.lng()< -1.9078302) {
                } else {
                alert(" That Place won't work!")};
                
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
        

   </script> 
   
   
    
<form action="/House-map" method="GET">

    
  
  <label for="searchTextField1" class="form-label">&nbsp;&nbsp; Enter an Important Location such as your workplace</label>
  <div class="mx-auto" style="width: 500px;">
  <input id="searchTextField1" type="text" size="50" placeholder="Enter a Location, Postcode etc." autocomplete="on" runat="server"/>  
  <input type="hidden" id="place1" name="place" />
  <input type="hidden" id="placeLat1" name="placeLat1" />
  <input type="hidden" id="placeLng1" name="placeLng1" /> 
  
  
  </div>
  </div>
  
  <label for="searchTextField2" class="form-label">&nbsp;&nbsp; Enter another Important Location such as your friend/family's house</label>
  <div class="mx-auto" style="width: 500px;">
  <input id="searchTextField2" type="text" size="50" placeholder="Enter a Location, Postcode etc." autocomplete="on" runat="server"/>  
  <input type="hidden" id="place2" name="place2" />
  <input type="hidden" id="placeLat2" name="placeLat2" />
  <input type="hidden" id="placeLng2" name="placeLng2" /> 
  
  </div>
  
  <p>&nbsp;&nbsp; Select how important each of the criteria are to you <br>&nbsp;&nbsp; Please note: the criteria are weighted against each other</p>
  
  <div class="form-group">
    <label for="customRange2" class="form-label">&nbsp;&nbsp; Access to a GP</label>
    <div class="mx-auto" style="width: 500px;">
    <input type="range" class="form-range" min="0" max="5" id="customRangeGP", name="GP">
    
  </div>
  

  <div class="form-group">
    <label for="customRange2" class="form-label">&nbsp;&nbsp; Access to a Hospital</label>
    <div class="mx-auto" style="width: 500px;" >
    <input type="range" class="form-range" min="0" max="5" id="customRangeHsp", name="Hsp">
    
   </div>


  <div class="form-group">
    <label for="customRange2" class="form-label">&nbsp;&nbsp; Access to Green Space (Parks and open space)</label>    
    <div class="mx-auto" style="width: 500px;">
    <input type="range" class="slider" min="0" max="5" id="customRangeGS", name="GS">

  </div>
  
  <div class="form-group">
    <label for="customRangeSM" class="form-label">&nbsp;&nbsp; Access to Supermarkets</label>    
    <div class="mx-auto" style="width: 500px;">
    <input type="range" class="slider" min="0" max="5" id="customRangeSM", name="SM">
    
  </div>
   
   <div class="form-group">
    <label for="customRangeTr" class="form-label">&nbsp;&nbsp; Access to Train Stations</label>    
    <div class="mx-auto" style="width: 500px;">
    <input type="range" class="slider" min="0" max="5" id="customRangeTr", name="Tr">
    
  </div>
  
    <div class="form-group">
    <label for="customRangeSch" class="form-label">&nbsp;&nbsp; Access to Schools</label>    
    <div class="mx-auto" style="width: 500px;">
    <input type="range" class="slider" min="0" max="5" id="customRangeSch", name="Sch">
    
  </div>
  
    <div class="form-group">
    <label for="customRangePb" class="form-label">&nbsp;&nbsp; Access to Public Houses (pubs)</label>    
    <div class="mx-auto" style="width: 500px;">
    <input type="range" class="slider" min="0" max="5" id="customRangePb", name="Pb">
    
  </div>
   
   <div class="form-group">
    <label for="customRangeFR" class="form-label">&nbsp;&nbsp; Away from Flood Risk Areas</label>    
    <div class="mx-auto" style="width: 500px;">
    <input type="range" class="slider" min="0" max="5" id="customRangeFR", name="FR">
    
  </div>
   
  <div class="form-group">
   <label for="customRangeAP" class="form-label">&nbsp;&nbsp; Concern about Air Quality</label>    
   <div class="mx-auto" style="width: 500px;">
   <input type="range" class="slider" min="0" max="5" id="customRangeAP", name="AQ">
    
  </div>
  
   <div class="form-group">
   <label for="customRangeCr" class="form-label">&nbsp;&nbsp; Concern about Crime</label>    
   <div class="mx-auto" style="width: 500px;">
   <input type="range" class="slider" min="0" max="5" id="customRangeCr", name="Cr">
    
  </div>
  
  <div class="mx-0" style="width: 2000px;">
   <label for="radius" class="form-label">&nbsp;&nbsp; Search Radius from your 1st Important Location</label>
    <div class="col-sm-3">
     <div class="form-group">
      <select class="selectpicker form-control" , name="radius">
       <option value="5" selected>5 miles</option>
       <option value="10">10 miles</option>
       <option value="20">20 miles</option>
       <option value="40">40 miles</option>
       <option value="50">50 miles</option>
       
      </select>
     </div>
    </div>
   </div>
  
  
   <div class="mx-0" style="width: 2000px;">
   <label for="PT" class="form-label">&nbsp;&nbsp; Property Type</label>
    <div class="col-sm-3">
     <div class="form-group">
      <select class="selectpicker form-control", name="PT">
       <option value='houses' selected> Houses</option>
       <option value='flats'> Flats/Apartments</option>  
      </select>
     </div>
    </div>
   </div>
   
   <div class="mx-0" style="width: 2000px;">
   <label for="BDmin" class="form-label">&nbsp;&nbsp; Minimum Number of Bedrooms</label>
    <div class="col-sm-3">
     <div class="form-group">
      <select class="selectpicker form-control" , name="BDmin">
       <option value="1" selected>1</option>
       <option value="2">2</option>
       <option value="3">3</option>
       <option value="4">4</option>
       <option value="5">5</option>
       <option value="6">6</option>
      </select>
     </div>
    </div>
   </div>
   
   <div class="mx-0" style="width: 2000px;">
    <label for="BDmax" class="form-label">&nbsp;&nbsp; Maximum Number of Bedrooms</label>
    <div class="col-sm-3">
     <div class="form-group">
      <select class="selectpicker form-control" , name="BDmax">
       <option value="5" selected> 5 </option>
       <option value="1">1</option> 
       <option value="2">2</option>
       <option value="3">3</option>
       <option value="4">4</option>
       <option value="6">6</option>
      </select>
     </div>
    </div>
   </div>
  
  <div class="mx-0" style="width: 2000px;">
  <label for="inlineRadio1" class="form-label">&nbsp;&nbsp; Listing Status</label>
  <br>
  <div class="form-check form-check-inline">
   <input class="form-check-input" type="radio" name="LS" id="inlineRadio1" value="sale" checked>
   <label class="form-check-label" for="inlineRadio1">For Sale</label>
  </div>
  <div class="form-check form-check-inline">
    <input class="form-check-input" type="radio" name="LS" id="inlineRadio2" value="rent">
    <label class="form-check-label" for="inlineRadio2">For Rent</label>
  </div>
  </div>

   <br>
   
   <div class="mx-0" style="width: 500px;">
   <label for="PRmin" class="form-label">&nbsp;&nbsp; Minimum Price (If renting price/week)</label>  
   <div class="input-group mb-3">
    <span class="input-group-text">£</span>
    <input type="text" class="form-control" aria-label="Minimum Price", name="PRmin">
   </div>
   
     
    <div class="mx-0" style="width: 500px;">
    <label for="PRmax" class="form-label">&nbsp;&nbsp; Maximum Price (If renting price/week)</label>  
    <div class="input-group mb-3">
     <span class="input-group-text">£</span>
     <input type="text" class="form-control" aria-label="Maximum Price", name="PRmax">
    
    </div>

    <div class="mx-0" style="width: 2000px;">
    <label for="MT" class="form-label">&nbsp;&nbsp; Main Mode of Transport - Used to work out some travel times</label> 
        <div class="col-sm-3">
         <div class="form-group">
          <select class="selectpicker form-control", name="MT">
           <option value="driving-car" selected>Car/Motorbike</option>
           <option value="foot-walking">Walking</option>
           <option value="cycling-regular">Cycling</option>
          </select>
         </div>
        </div>
       </div>
  
    <div class="mx-auto" style="width: 2000px;">
    <button type="submit" class="btn btn-primary">Find your new home</button>
</div>

</form>

{% endblock %}
