{% extends "Base.html" %} 

{% block title %}HomeSearch - House Map{% endblock %}

 {% block content %}
 <h1>See you ideal homes below</h1>
 

<style>
/* css to customize Leaflet default styles  */
.popupCustom .leaflet-popup-tip,
.popupCustom .leaflet-popup-content-wrapper {
    background: #e0e0e0;
    color: #234c5e;
}
</style>

 <div id="map" style="height: 750px; width: 1250px; left: 100px">
 

 
 <script type="text/javascript">
 
         var map = new L.Map('map').setView([53.466502, -2.235387], 12);                       
         var layer = L.tileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png', {
              attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>'
         }).addTo(map);    
         console.log('work1');
         
         var homes = JSON.parse('{{ homeMasterJSON | safe }}'); 
         console.log(homes)
         console.log(homes.features.length);
        
         for (var i = 0; i < homes.features.length; i++) {
             var home = homes.features[i];
             var lat = home.properties['Lat'];
             var lng = home.properties['Long']
             var url = home.properties['Details url'];
             var rank = home.properties['Master rank'];
             var picture = home.properties['Image']
             var crimNum = home.properties['Crime number']
             if (crimNum == "0") {crimNum = "Null or not recorded"};
             var air = ("<b>" + parseInt(home.properties['Air Quality']).toFixed(1) + "</b> NO2/month ug/m3,   Rank: " + "<b>" + home.properties['Air Quality rank']);
             var crime = (" No. of Crimes: " + "<b>" + crimNum + "</b>  Rank: " + "<b>" + home.properties['Crime rank']);
             var flood = ("<b>" + home.properties['Flood Risk'] + " </b> risk/1000 years,  Rank: " + "<b>" + home.properties['Flood rank']);
             var GP = ("</b> GP Rank: <b>" + home.properties['GP rank']);
             var hosp = ("</b> Hospital Rank:  <b>" + home.properties['Hospital rank']);
             var green = ("</b> Green Space Rank: <b>" + home.properties['Green Space rank']);
             var market = ("</b> Supermarket Rank: <b>" + home.properties['Supermarket rank']);
             var train = ("</b> Train Station Rank: <b>" + home.properties['Train station rank']);
             var pub = (" </b> Pub Rank: <b>" + home.properties['Pub rank']);
             var school = (" </b> School Rank: <b>" + home.properties['School rank']);
             var price = ("</b> Price: <b>£" + home.properties['Price'].toLocaleString('en-UK'));
             var popupContent =  "<p><b>" + "<center> <img src=" + picture + "> <a href=" + url + "> <br><br> <center> Click Here To View Your New Home </a>  <br><br>" + price + "<br><br> </b>Overall Ranking: <b>" +
              rank + "</b> <br><br> Air Quality: " + air + "</b> <br><br> Crime: " + crime + "<br><br></b> Flood Risk: " + flood + " <br><br> " + GP + hosp  + " <br><br> " + green + market + " <br><br> " + train + pub + school;
            
              
             var customOptions =
                {
                'minWidth': '450',
                'className' : 'popupCustom'
                }
             
             console.log(home);
             console.log(lat);
             console.log(url);
             
             var marker = new L.marker({lat, lng}).addTo(map)
             .bindPopup(popupContent, customOptions).openPopup()
             }
  
   const apiKey = "AAPKbfcf15f9e53941c780986ada148d7c62-ucCKr5spS2ELGY0Yi4ciKVp7nBQMxNOOSPNR1Qsn2So5yAk9GAj8lE8jvf3Nzi8";
  
  </script>
 </div>
 
 <img src="https://www.zoopla.co.uk/static/images/mashery/powered-by-zoopla-150x73.png" width="150" height="73" title="Property information powered by Zoopla" alt="Property information powered by Zoopla" border="0">
 
 {% endblock %}
